.vagrant
build
out
target
.idea
.idea_modules
.gradle
logs
.DS_Store
*.iml
*.ipr
*.iws
puppet/modules/dropwizard_service/files/*.yml
puppet/modules/dropwizard_service/files/*.jar
puppet/modules/site_content/files/app/js/config.js
